body {
    background: rgba(197, 136, 253, 0.63);
    margin: 0px;
}

.formulario {
    background: rgba(245, 245, 245, 0.733);
    padding-right: 0px;
    left: 50%;
    top: 50%;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
    border-radius: 0.4em;
}

#titulo {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#input{
    display: inline-flex;
    border: none;
    height: 20px;
    width: 25em;
}

.entrada {
    align-items: center;
    align-content: flex-start;
    margin-left: 4em;
}
